/** Global Styles **/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $grotesk;
    background: $bg-color;
    color: $white;
}

a {
    text-decoration: none !important;
    color: $white !important;
}

ul {
    list-style: none !important;
}

.line {
  color: 	$prim-color;
  font-weight: bold;
}

/** Index Page **/

/** FAQ **/
.accordion {
    margin-top: 5rem;
  
    .accordion-space {
      margin-top: 5rem;
    }
  
    .accordion-item {
  
      background: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: $text-color;
      
      .accordion-button {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: $prim-color;
  
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
  
      .accordion-button::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a67447'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
      }
    }
  
  }
  
  /** Footer Page **/
footer {
    position: relative;
    padding: 15px 0;

    .footer-bottom {

      .credit {
          text-align: center !important;
      
          p {
              font-size: 16px;
              line-height: 24px;
              font-family: $gelasio;
              color: $text-color;
              margin: 10px 0;
              text-align: justify !important;
              text-align: center !important;
              a {
                  font-family: $playfair;
                  font-weight: 500;
                  letter-spacing: 1px;
                  color: $prim-color;
                  font-size: bolder;
                  &:hover {
                  color: $text-color;
                  }
              }
              & + p {
                  margin-bottom: 0px;
              }
          }
      }
    }
    
}

