/** Global Styles **/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $grotesk;
    background-color: $bg-color;
    color: $white;
}

a {
    text-decoration: none !important;
    color: $white !important;
}

p {
  font-family: $grotesk !important;
  font-size: 17px !important;
  text-align: justify !important;
}

ul {
  font-family: $grotesk !important;
  font-size: 17px !important;
  text-align: justify !important;
}



.line {
  color: 	#6C98B2;
  font-weight: bold;
}

.edu {
  color: #6C98B2;
}

.has-dropcap:first-letter {
  font-family: $times;
  color: #6d8e9d;
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}

.dropcap {
  font-family: $times;
  float: left;
  font-size: 6rem;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.15em;
}

/** Index Page **/
/* Background */
.about {
  padding-top: 7rem;
  
  background: $bg-color;
  .about_inner {
    .col-lg-5, .col-md-7{
      vertical-align: middle;
      align-self: center;
    }
    .about_left_text {
      padding: 0 0 1rem 1rem;
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -5px rgba(0,0,0,0); 
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -5px rgba(0,0,0,0);

      h6 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
        color: #3d4f57;
        font-family: $cormorant;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
      
      }

      h6:after {
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 60%; 
        padding-top: 10px; 
        border-bottom: 2px solid #6d8e9d; 
      }

      h3 {
        font-size: 36px;
        line-height: 45px;
        font-family: $playfair;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
    }
    .about_right_text {
      
      p {
        margin-bottom: 0px;
        font-family: $times !important;
        color: $white;
        text-transform: none !important;
      }
    }
  }
}

/** Image Gallery **/
.image_gallery {
  margin-top: 5rem;
  padding-top: 5rem;
  background-color: $bg-color2;

  .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -5px rgba(0,0,0,0);

    .card-img {
      width: calc(100% + 60px);
      margin-left: -30px;
      overflow: hidden;
      z-index: 1;
      border-radius: 0;

      img {
        max-width: 100%;
        transition: all 0.3s ease-in-out;
      }
    }

    .card-body {
      z-index: 2;
      background: #7a9eaf;
      border-top: 4px solid #fff;
      padding: 30px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      margin-top: -60px;
      transition: 0.3s;

      .card-title {
        font-family: $gelasio;
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        position: relative;
        color: $white;
        transition: 0.3s;

        h4 {
          color: $prim-color;
          transition: 0.3s;
        }
      }

      p {
        font-weight: 300;
        line-height: 26px;
        color: $white;
      }
    }
    .card-body1 {
      z-index: 2;
      background: #6d8e9d;
      border-top: 4px solid #fff;
      padding: 30px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      margin-top: -60px;
      transition: 0.3s;

      .card-title {
        font-family: $gelasio;
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        position: relative;
        color: $white;
        transition: 0.3s;

        h4 {
          color: $prim-color;
          transition: 0.3s;
        }
      }

      p {
        font-weight: 300;
        line-height: 26px;
        color: $white;
      }
    }
    .card-body2 {
      z-index: 2;
      background: #617e8c !important;
      border-top: 4px solid #fff;
      padding: 30px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      margin-top: -60px;
      transition: 0.3s;

      .card-title {
        font-family: $gelasio;
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        position: relative;
        color: $white;
        transition: 0.3s;

        h4 {
          color: $prim-color;
          transition: 0.3s;
        }
      }

      p {
        font-weight: 300;
        line-height: 26px;
        color: $white;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    &:hover .card-body {
      border-color: #7a9eaf;
    }
    &:hover .card-body1 {
      border-color: #6d8e9d;
    }
    &:hover .card-body2 {
      border-color: #617e8c;
    }
  }
}

/** Counter **/
.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;

  .fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;

    .projectFactsWrap{
      display: flex;
      margin-top: 30px;
      flex-direction: row;
      flex-wrap: wrap;

      .item{
        width: 25%;
        height: 100%;
        padding: 50px 0px;
        text-align: center;

        p.number{
          font-size: 40px !important;
          padding: 1rem 0 0 0;
          font-weight: bold;
          font-family: $playfair !important;
        }

        p{
          color: rgba(255, 255, 255, 0.8);
          font-size: 18px;
          margin: 0;
          padding: 10px;
          font-family: $grotesk;
          text-align: center !important;
        }

        &:nth-child(1){
          background: #556E7A;
        }
        
        &:nth-child(2){
          background: #617E8C;
        }
        
        &:nth-child(3){
          background: #6D8E9D;
        }

        &:nth-child(4){
          background: #7a9eaf;
        }

        span{
          width: 60px;
          background: rgba(255, 255, 255, 0.8);
          height: 2px;
          display: block;
          margin: 0 auto;
        }

        i{
          vertical-align: middle;
          font-size: 50px;
          color: rgba(255, 255, 255, 0.8);
        }

        .plus-sign::after {
          content: "+";
          padding-left: .5rem !important;
        }

        &:hover i, p{
          color: white;
        }

        &:hover span{
          background: white;
        }
      }
    }
  }
}

#projectFacts .fullWidth{
  padding: 0;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}

/** Org. Gaols **/
.goals {
  padding: 7rem 0;
  background-color: $bg-color2; 

  .middle {
    background-color: #a0d6d3;
    .middle-text {
      padding: 0 1rem;
      color: #3d4f57;
      h1 {
        padding-top: 2rem;
        font-family: $gelasio;
      }
    }
  }
  .left {

    .left-text {
      color: #3d4f57 !important;
      h1 {
        padding-top: 2rem;
        font-family: $gelasio;
      }
      h5 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
        color: #6d8e9d;
        font-family: $gelasio;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
      }
      ul {
        color: #3d4f57;
        font-size: 16px !important;
      }
    }

  }
}

/** Strategic Framework **/
.framework {
  padding: 5rem 0 0 0;
  background-color: $bg-color2;

  .frame1 {
    background: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .frame1_heading {
      padding: 0 1rem;
      h1 {
        font-family: $gelasio;
        color: $sec-color;
      }
      p {
        color: $white !important;
        font-family: $grotesk;
      }
    }
  }

  .frame2 {
    padding: 2rem;
    .frame2_heading {
      h1 {
        font-family: $gelasio;
        color: $bg-color;
        text-align: center;
      }
      ul {
        color: #3d4f57 !important;
      }
    }
    .frame2_img {
      margin-top: 2rem;
    }
    .frame2_prog {
      margin-top: 2rem;
      
      h1 {
        font-family: $gelasio;
        color: $bg-color;
        text-align: center;
      }
      ul {
        color: #3d4f57;
      }
    }
  }

  .frame3 {
    background: #AF7A9E;
  }
}

/* Programmes Cards */
.mission {
  padding: 7rem 0 !important;
  background: $bg-color2;

  .hr_line {
    padding: 3rem 0;
    color: $sec-color;
    font-size: 2px;
  }

  .programmes_heading {
    h1 {
      font-family: $gelasio;
      color: $bg-color;
      text-align: center;
    }
    h5 {
      font-size: 17px;
      font-weight: 100;
      letter-spacing: 3px;
      color: #ccc;
      text-align: center;
    }
  }

  .programmes_inner {
    padding-top: 2rem;

    p {
      color: #3d4f57;
    }
  }

  .card {
    border-radius: 5px;
    overflow: hidden;
    border: 0;
    background: $white;
    position: relative;
    transition: 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .card-body {
    padding-top: 20px;
    position: relative;
  }

  .card-title {
    font-weight: 700;
    position: relative; 
    font-family: $gelasio;
    z-index: 2;
    color: $bg-color;
    transition: 0.3s;

    &:hover {
      color: $gray-scale !important;
    }
  }

  .card-text {
    position: relative;
    font-family: $times;
    z-index: 2;
    color: $gray-scale;
    text-align: justify;
    font-size: 17px;
  }

  .card:hover .card-title a {
    color: $bg-color;
  }
}

@media (max-width: 1024px) {
  .features {
    background-attachment: scroll;
  }
}

/** Gallery **/
.gallery1 {
  background: $sec-color;
  padding: 7rem 0 0 0;
  align-items: center !important;
  align-content: center !important;

  .gallery_heading {
    font-family: $gelasio;
    color: $white;
    padding-bottom: 2rem;
    text-align: center;
  }

  .profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;

    .profile {
      flex-basis: 260px;

      .profile-img {
        height: 260px;
        width: 260px;
        border-radius: 50%;
        filter: grayscale(100%);
        cursor: pointer;
        transition: 400ms;
      }

      &:hover .profile-img {
        filter: grayscale(0);
      }

      .user-name {
        margin-top: 30px;
        font-size: 35px;
        text-align: center;
      }

      h5 {
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 3px;
        color: #ccc;
        text-align: center;
      }

      p {
        margin-top: 20px;
        text-align: center !important;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

/** Owl Carousel **/
.gallery2 {
  background: $sec-color;
  padding: 3rem 0 5rem 0;
  
  .g_heading {
    font-family: $playfair;
    color: $white;
    text-align: center;
    padding-bottom: 2rem;
  }
}
.wrapper{
  max-width: 1100px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery .image{
  padding: 7px;
  width: calc(100% / 3);
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: $sec-color;
  max-width: 400px; //popup box size
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon{
  color: $white;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev{
  left: 0px;
}
.slide.next{
  right: 0px;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}

@media(max-width: 1000px){
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .image{
    width: 100%;
    padding: 4px;
  }
}
  

/** FAQ **/
.accordion {
    margin-top: 5rem;
  
    .accordion-space {
      margin-top: 5rem;
    }
  
    .accordion-item {
  
      background: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: $text-color;
      
      .accordion-button {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: $prim-color;
  
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
  
      .accordion-button::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a67447'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
      }
    }
  
  }
  
/** Footer Page **/
footer {
  background: url('/assets/img/reading2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 0 0 0;

  h6 {
    font-family: $gelasio !important;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 16px;
      font-size: 20px;
  }

  ul, li, a {
      list-style: none !important;
      color: rgba(255, 255, 255, 0.6) !important;
      padding: 0;
      font-family: $grotesk;
      font-size: 17px;
      text-align: justify !important;

      &:hover {
          color: #f5f5f5 !important;
      }
  }

  p {
      color: rgba(255, 255, 255, 0.6) !important;
      
  }

  .info_item {
    position: relative;
    padding-left: 35px;
    i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 25px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.6) !important;
      font-weight: 600;
    }
    .icon {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 20px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.6) !important;
      font-weight: 600;
    }
    h6 {
      font-size: 16px;
      line-height: 18px;
      color: $white;
      font-family: $gelasio;
      font-weight: bold;
      margin-bottom: 0px;
      a {
        color: $black;
      }
    }
    p {
      line-height: 18px;
      padding: 2px 0px;
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }

  .footer-top {
      background: url('/assets/img/reading2.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding: 10px 0 10px 0;
  
      .navbar-brand {
          font-size: 20px;
  
          .logo-footer {
              margin-bottom: 16px;
          }
      }
  
      .ftco-footer-social {
        li {
          list-style: none;
          margin: 0 10px 0 0;
          display: inline-block;
          a {
            height: 50px;
            width: 50px;
            display: block;
            float: left;
            background: rgba($white, 0.1) !important;
            border-radius: 50%;
            position: relative;
            span {
              position: absolute;
              font-size: 26px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            &:hover {
              color: $white !important;
            }
          }
        }
      }
  }

  .footer-bottom {

      .credit {
          text-align: center !important;
      
          p {
              line-height: 24px;
              color: $white !important;
              padding: 10px 0 10px 0;
              text-align: center !important;
              a {
                  font-family: $gelasio;
                  font-weight: 500;
                  letter-spacing: 1px;
                  color: #6C98B2 !important;
                  font-size: bolder;
                  &:hover {
                  color: $white !important;
                  }
              }
              & + p {
                  margin-bottom: 0px;
              }
          }
      }
  }
}

/** Back2Top **/
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: rgba(255, 255, 255, .1);
  color: #020202 !important;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #AF7A9E;
}