/** Global Buttons **/
.btn {
  padding: 9px 24px;
  font-weight: 500;
}

.btn-brand {
  background-color: $prim-color;
  color: $text-color;
  border-color: $prim-color;

  &:hover {
      color: $prim-color;
      border-color: $prim-color;
  }
}

/** Get In Touch Button **/
.get-in-touch-btn {
    border-radius: 0;
    background-color: transparent;
    color: $white !important;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .get-in-touch-btn span {
    font-family: $grotesk;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: $white;
  }
  
  .get-in-touch-btn span:after {
    content: '\00bb';
    position: absolute;
    color: $prim-color;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .get-in-touch-btn:hover span {
    padding-right: 25px;
  }
  
  .get-in-touch-btn:hover span:after {
    opacity: 1;
    right: 0;
  }

/** CTA-Btn **/
.cta-btn {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid $lime !important;
  color: $lime !important;
  text-align: center;
  font-size: 16px;
  padding: 9px 10px;
  font-weight: 500;
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
}

.cta .cta-info {
  h3 {
    font-family: $playfair;
  }
  p {
    font-size: 18px;
  }
}

.cta-btn span {
  font-family: $playfair;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: $white;
}

.cta-btn span:after {
  content: '\00bb';
  position: absolute;
  color: $black;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cta-btn:hover span {
  padding-right: 25px;
  color: $black;
}

.cta-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/** Btn-hero **/
.btn-hero {
    position: relative;
    display: inline-block;
    font-family: $din;
    cursor: pointer;
    letter-spacing: 1px;
    color: 		#6C98B2 !important;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border-radius: 0;
    border: 2px solid 		#6C98B2;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    z-index: 2;

    &:hover span {
        color: $black;
    }

    .hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: 	#6C98B2;
        color: $white !important;
        z-index: -1;
        transform: translateY(100%);
        transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
    }

    &:hover .hover {
        transform: translateY(0);
    }
}

/** Submit_btn **/
.submit_btn{
  display: inline-block;
  background: transparent;
  color: $white;
  font-family: $playfair;
  width: 148px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid $white;
  line-height: 48px;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;

  &:hover{
    background: $white;
    color: $bg-color;
  }
}

/** close_btn **/
.close_btn{
  display: inline-block;
  background: $text-color;
  color: $white;
  font-family: $playfair;
  width: 148px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid $text-color;
  line-height: 48px;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;

  &:hover{
    background: transparent;
    color: $text-color;
  }
}

/** Program btn **/
.prog_btn {
  border-radius: 0;
  background: red;
  color: $bg-color !important;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
}

.prog_btn span {
  font-family: $grotesk;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: $bg-color;
}

.prog_btn span:after {
  content: '\00bb';
  position: absolute;
  color: $prim-color;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.prog_btn:hover span {
  padding-right: 25px;
}

.prog_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/** Program Modal close_btn **/
.M_close_btn{
  display: inline-block;
  background: $sec-color;
  color: $white;
  font-family: $playfair;
  width: 148px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid $sec-color;
  line-height: 48px;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover{
    background: $bg-color;
    border: 1px solid $white;
    color: $white;
  }
}
