/** Header **/
.main-header {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;


    /* Logo */
    .logo {
        width: 210px;
        height: auto;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    /* Main-menu */
    .main-menu {
        margin-right: 50px;

        ul {
            display: flex;
            list-style: none !important;

            li {
                position: relative;
                font-size: 0.9rem;
                margin-right: 20px;
                padding-bottom: 2px;
                cursor: pointer;

                a:hover {
                    color: $prim-color !important;
                }
                a:active {
                    color: $prim-color;
                }

                a::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $white;
                    transform: scaleX(0);
                    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
                    transform-origin: right center;
                }

                a:hover::after {
                    transform: scaleX(1);
                    transform-origin: left center;
                    transition-duration: 0.4s;
                }
            }
        }
    }
}

/** Hamburger Menu **/
.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        position: absolute;
        width: 20px;
        height: 2px;
        top: 0;
        left: 0;
        background: $white;
        transition: all 0.5s;
    }

    .hamburger-middle {
        transform: translateY(5px);
    }
      
      .hamburger-bottom {
        transform: translateY(10px);
    }
}
  
/** Transition hamburger to X when open **/
.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


  